.login_container {
  padding-top: 20px;
}

.login_register-cta-group {
  text-align: center;
  margin-top: 20px;
}

.login_register-link-icon {
  margin-left: 5px;
  vertical-align: text-bottom;
}

.login_request-password-modal-wrapper {
  text-align: center;
  margin-top: 16px;
}
